appnope==0.1.0
argcomplete==1.9.3
asn1crypto==0.23.0
bleach==1.5.0
boto==2.48.0
cachetools==2.0.1
cairocffi==0.8.0
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
click==6.7
conda==4.3.16
crcmod==1.7
cryptography==2.1.4
cycler==0.10.0
decorator==4.1.2
entrypoints==0.2.3
enum34==1.1.6
ez-setup==0.9
gcs-oauth2-boto-plugin==1.14
gizeh==0.1.10
graphviz==0.8.1
gsutil==4.28
h5py==2.7.1
html5lib==0.9999999
httplib2==0.10.3
idna==2.6
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonlines==1.2.0
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras==2.0.9
lxml==4.1.1
Markdown==2.6.9
MarkupSafe==1.0
matplotlib==2.1.0
mistune==0.8.1
mock==2.0.0
nbconvert==5.3.1
nbformat==4.4.0
nltk==3.2.5
notebook==5.2.1
numpy==1.13.3
oauth2client==2.2.0
olefile==0.44
pandas==0.21.0
pandocfilters==1.4.2
parso==0.1.0
pbr==3.1.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.3.0
prompt-toolkit==1.0.15
protobuf==3.5.0.post1
ptyprocess==0.5.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycosat==0.6.3
pycparser==2.18
pydot==1.2.3
pydot-ng==1.0.0
Pygments==2.2.0
pyOpenSSL==17.5.0
pyparsing==2.2.0
pypng==0.0.18
python-dateutil==2.6.1
python-gflags==3.1.2
pytz==2017.3
PyYAML==3.12
pyzmq==16.0.3
qtconsole==4.3.1
remi==0.1
requests==2.18.4
retry-decorator==1.1.0
rsa==3.4.2
ruamel.yaml==0.15.34
scikit-learn==0.19.1
scipy==1.0.0
seaborn==0.8.1
simplegeneric==0.8.1
six==1.11.0
SocksiPy-branch==1.1
tensorflow==1.4.0
tensorflow-tensorboard==0.4.0rc3
terminado==0.6
testpath==0.3.1
tornado==4.5.2
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.2
widgetsnbextension==3.0.6
